@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
    .custom-gradient {
        background: linear-gradient(#C4203C 50%, #FFFFFF 50%) no-repeat !important;
    }
    [id]:target {
        padding-top: 24rem; /* Simulate padding effect */
        display: block;
    }
}