@media print {
    #print-btn {
        display: none !important;
    }
    .print-hide {
        display: none !important;
    }
    #testpaper-container, #answersheet-container, #answerkey-container, .pagebreak {
        display: block !important;
    }
    #test_paper, #test_paper2, #test_paper3, #answer-key {
        /* Revert width, padding, and min-height to default values */
        width: auto !important;
        padding: 0 !important;
        min-height: auto !important;

        /* Remove top margin and border */
        margin-top: 0 !important;
        border: none !important;

        /* Remove box shadow */
        box-shadow: none !important;
    }
    .paper-container {
        width: auto !important;
    }
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

.grid-container {
    display: grid;
    grid-template-areas: 'oneTotwenty twentyoneToforty fortyoneTofifty';
    grid-gap: 20px;
    /* padding: 10px; */
}

.oneTotwenty {
    grid-area: oneTotwenty;

}
.twentyoneToforty {
    grid-area: twentyoneToforty;

}
.fortyoneTofifty {
    grid-area: fortyoneTofifty;
}

.circles:first-child > div:last-child {
    border-top: 1px solid black;
}
/* .circles:first-child > div {
    padding-top: 1rem !important;
} */

.circles:last-child > div:last-child {
    border-bottom: 1px solid black;
}
.circles:last-child > div {
    padding-bottom: 4px !important;
}